.accountContainer {
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.listContainer {
  margin-top: 20px !important;
}

.listFooter {
  display: flex;
}

Button {
  margin-right: 10px;
}

.dropdown {
  flex-grow: 1;
  max-width: 400px;
}

.bold {
  font-weight: bold;
}

.input {
  max-width: 400px;
}
