.eventsListContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}
.eventDateContainer {
    max-width: 200px;
    float: left;
    margin-top: 3px;
    text-overflow: clip;
}
.eventTitle {
    min-width: calc(100% - 200px);
    float: left;
    text-align: left;
}
.eventBody {
    max-height: 100px;
    overflow-y: scroll;
    white-space: pre-line;
    text-align: left;
}
.eventPreviewContainer {
    border: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.eventPreviewContainer:hover {
    -webkit-box-shadow: 0px 0px 8px 0px #999;
    -moz-box-shadow: 0px 0px 8px 0px #999;
    box-shadow: 0px 0px 8px 0px #999;
    transition: all 0.1s linear;
}