.upcomingEventsContainer {
    margin-bottom: 40px;
}
.retrievingEventsText {
    margin-top: 30px;
}
.eventsWrapper {
    height: calc(100% - 97px);
}
.eventsListWrapper {
    height: 100%;
    overflow-y: scroll;
}