.createTrainingContainer {
    height: auto;
    text-align: left;
    padding: 0 20px;
}
.createTrainingContainer.collapsed {
    height: 0;
    overflow: hidden;
}
.populateInput {
    max-width:60px;
}
.sessionSection {
    padding: 10px 0
}
.formSectionTitle {
    margin-top: 30px;
}
.eachSessionContainer {
    padding: 10px 0;
}
.sessionTitleInput {
    max-width: calc(100% - 200px);
}
.submitTrainingContainer {
    padding: 10px 0;
}
.minusIcon {
    padding-left: 10px;
    cursor: pointer;
}
.createTrainingSubmitButton {
    margin: 0 10px 0 0;
}