.manageTrainingTitle {
    float: left;
}
.manageTrainingOptions {
    float: right;
}
.clearBoth {
    clear: both;
}
.manageTrainingsContainer {
    margin-top: 30px;
}
.manageTrainingTitle {
    cursor: pointer;
}
.manageTrainingOptionButton {
    margin-left: 10px;
}