.trainingDashboardSection {
    height: 50%;
    min-height: 300px;
    width: 50%;
    float: left;
    min-width: 500px;
    padding: 20px;
}
.manageTrainingsComponentWrapper {
    max-height: 100%;
    overflow-y: auto;
}
.clearBoth {
    clear: both;
}
.weeklyStatSelectorContainer {
    margin-top: 30px;
}
.trainingDashboardFormSelector {
    float: right;
    margin: 0 20px;
}
.trainingDashboardCreateButton {
    float: right;
}
.trainingDashboardContainer {
    height: calc(100% - 30px);
}
.trainingDashboardContentContainer {
    height: calc(100% - 70px);
}
@media (max-width: 1195px) {
    .trainingDashboardSection {
        width: 100%;
    }
}
