select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #000;
    font-weight: 500;
}

.memberCheckboxColumn label {
    font-size: 20px;
    padding-left: 20px;
}

.memberCheckboxColumn input {
    transform: scale(2);
}

.memberCheckboxContainer {
    display: flex;
    flex-wrap: wrap;
}

.memberCheckboxColumn {
    flex: 1 0 50%;
    /* Two columns */
    box-sizing: border-box;
    padding: 5px;
}

.attendanceCount {
    padding-top: 10px;
    font-size: 20px;
}