@media (max-width: 1195px) {
  .trainingDashboardSection {
    width: 100%;
    min-height: unset;
  }
  .exportAllButton {
    display: none;
  }

  .manageTrainingsWrapper,
  .editMembersContainer {
    height: unset;
  }
  .trainingDashboardCreateButton,
  .trainingDashboardFormSelector {
    float: none;
    margin: 10px 20px;
  }
}
