.introContainer {
    text-align:left;
    padding: 40px;
    max-width: 850px;
    margin: 0 auto;
}
.introTitle {
    font-size: 4vw;
    font-weight: bolder;
}
.groupHeaderContainer {
    width: 100%;
    position: relative;
    height: 0;
    /* (height / width * 100%) */
    padding-top: calc(1843 / 4450 * 100%);
}
.absoluteResponsiveImg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}
.aboutRightImageContainer {
    float: right;
    width: 50%;
}
.clearBoth {
    clear: both;
}
.introStr {
    font-size: 1.5vw;
}
.aboutSectionHead {
    font-size: 25px;
}
.listContainer {
    font-size: 1vw;
}
.aboutDescription {
    width: 30%;
    float: right;
    text-align: left;
    padding: 0 40px;
}
.aboutDescriptionImg {
    width: 70%;
    float: right;
}
.aboutDescriptionImgElement {
    width: 100%;
}
.whatIsMuayThaiPhotoWrapper {
    width: 100%;
    position: relative;
    height: 0;
    /* (height / width * 100%) */
    padding-top: calc(350.19 / 913.5 * 100%);
}
.aboutTrainingsPhotoWrapper {
    width: 100%;
    position: relative;
    height: 0;
    /* (height / width * 100%) */
    padding-top: calc(2 / 3 * 100%);
}
.eventsPhotoWrapper {
    width: 100%;
    position: relative;
    height: 0;
    /* (height / width * 100%) */
    padding-top: calc(509 / 1000 * 100%);
}
.aboutDivider {
    margin: 40px 0;
}
.aboutDescriptionRow {
    padding: 40px 0;
}
.floatLeft {
    float: left;
}
.aboutFooterNotes {
    padding: 40px;
}
.aboutInlineLink {
    padding: 0 3px;
}

@media(max-width: 1217px) {
    .aboutDescriptionImg {
        width: 100%;
        float: none
    }
    .aboutDescription {
        float: none;
        text-align:left;
        padding: 40px;
        width: unset;
        max-width: 750px;
        margin: 30px auto;
    }
    .introStr {
        font-size: 16px;
    }
    .introTitle {
        font-size: 25px;
    }
    .aboutDivider {
        display: none;
    }
    .listContainer {
        font-size: 16px;
    }
    .aboutDescriptionRow {
        padding: 20px 0;
    }
    .aboutFooterNotes {
        text-align: left;
    }
}