.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.introTitle {
  font-size: 2.5vw;
  line-height: 90%;
}
.introContainer {
  padding: 40px 0 10px 0;
  margin: 0 auto;
}

.landingImg {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.introStr {
  font-size: 1vw;
}

.aboutSectionHead {
  font-size: 25px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
  width: 100%;
  max-width: 1000px;
  gap: 10px;
}
.boldBtn {
  font-family: 'Joyride' !important;
  font-size: 20px;
  padding: 10px 30px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 0;
}

.teal {
  background-color: #1ac4a7;
  flex-grow: 1;
}
.yellow {
  background-color: #fbe74a;
}

.orange {
  background-color: #f48c05;
}
.pink {
  background-color: #ff0c51;
}

.invert {
  color: white;
  background-color: black;
}

.membershipBtn {
  font-size: 30px;
  flex-grow: 1;
}

.aboutDivider {
  width: 100%;
  max-width: 1200px;
  height: 5px;
  background-color: #000;
}

.aboutSection {
  padding: 50px 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutSectionHeader {
  line-height: 80%;
  font-size: 25px;
}

.lacuna {
  font-family: 'Lacuna', sans-serif;
  font-size: 50px;
}

.aboutSectionBody {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
}
.aboutSectionDescription {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutSectionDescription p {
  padding: 0 20px;
}
.aboutSectionImg {
  width: 50%;
}

.aboutFooterNotes a,
.aboutFooterNotes button {
  color: #11388d !important;
}

.aboutFooterNotes {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutInlineLink {
  padding: 0;
  margin: 0;
}

@media (max-width: 1217px) {
  .aboutDescriptionImg {
    width: 100%;
    float: none;
  }

  .aboutDescription {
    float: none;
    text-align: left;
    padding: 40px;
    width: unset;
    max-width: 750px;
    margin: 30px auto;
  }

  .aboutSectionBody {
    flex-direction: column;
    padding: 0 20px;
  }
  .aboutSectionDescription {
    width: 100%;
  }
  .aboutSectionImg {
    width: 100%;
  }

  .introStr {
    font-size: 16px;
  }

  .introTitle {
    font-size: 25px;
  }

  .btnContainer {
    flex-direction: column;
  }

  .boldBtn {
    width: 100%;
    max-width: 500px;
  }

  .listContainer {
    font-size: 16px;
  }

  .aboutDescriptionRow {
    padding: 20px 0;
  }

  .aboutFooterNotes {
    text-align: left;
  }
}
