.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: black !important;
}

.ant-carousel .slick-prev::before {
  color: black !important;
}

.slick-arrow.slick-prev {
  font-size: 20px !important;
}

.ant-carousel .slick-next::before {
  color: black !important;
}

.slick-arrow.slick-next {
  font-size: 20px !important;
}
