.galleryContainer{
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.carouselContainer{
  max-width: 1200px;
  margin: 0 auto;
}
.imgContainer{
  background-color: black ;
  padding: 0;
  width:fit-content !important;
  box-sizing: border-box;
}

.galleryImg{
  width:100%;
  max-width: 1200px;
  margin: 0;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: black !important;
}

.ant-carousel .slick-prev::before {
  color: black !important;
}

.slick-arrow.slick-prev {
  font-size: 20px !important;
}

.ant-carousel .slick-next::before {
  color: black !important;
}

.slick-arrow.slick-next {
  font-size: 20px !important;
}

