.teamContainer {
    padding: 0 20px;
}

.imgRow {
    margin-bottom: 50px;
    max-width: 1500px;
    margin: 0 auto;
}

.personContainer {
    height: 100%;
    width: 350px;
    display: inline-block;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform .2s;
}

.personContainer:hover {
    transform: scale(1.15);
}

.headshot {
    transition: all 0.25s ease-in-out;
    height: 300px;
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.description { 
    text-align: left;
}

.committeeApplicationsContainer {
    text-align: justify;
}

@media(max-width: 600px) {
    .personContainer {
        width: 80%;
    }

    .headshot {
        width:200px;
        height:200px;
    }
}