.adminContainer {
    text-align: left;
}
.menuContainer {
    border-top: 0.5px solid #999
}
.adminContent {
    width: calc(100% - 150px);
    float: right;
    padding: 15px;
    margin-top: -63px;
}
.createTrainingTitle {
    text-align: center;
}
.manageEventsContainer {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}