.createTrainingTitle {
  text-align: left;
}
.manageEventsContainer {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.mainAdminCreateEventButton {
  float: right;
}
.clearBoth {
  clear: both;
}
.manageEventTitle {
  float: left;
}
.mainAdminEventsHeader {
  margin: 30px 0;
}
.mainAdminCreateFormContainer {
  margin: 30px auto 0;
  max-width: 600px;
}
.mainAdminCreateBack {
  margin: 0 10px;
}
.adminMenu {
  width: 150px;
  height: 100%;
}
.openMenuButton {
  display: block;
  margin-left: 30px;
}

@media only screen and (max-width: 1180px) {
  .adminContent {
    margin-top: 0;
    width: 100%;
    float: none;
  }
  .trainingDashboardFormSelector,
  .createTrainingTitle {
    float: none;
  }
  .adminMenu {
    height: 167px;
    float: none;
  }
}
