.weeklyStatTitle {
    float: left;
    margin-left: 50px;
}
.weeklyStatSelectorContainer {
    float: right;
}
.clearBoth {
    clear: both;
}
.WeekStatGraphWrapper {
    float: left;
    width: calc(100% - 200px);
}
.weekStatsDisplayWrapper {
    float: right;
    width: 200px;
    text-align: right;
}