.faqContainer {
    text-align: left;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 10px;
}
.questionContainer {
    margin: 0 auto;
}
.question {
    font-weight: bold;
}
.answer {
    /* font-style: italic; */
}
.socialLink {
    color: #008080;
    cursor: pointer;
}