.teamContainer {
    padding: 0 20px;
}
.imgContainer {
    position: relative;
    width: 100%;
    height: 240px;
    width: 240px;
    margin: 0 auto;
}
.imgRow {
    margin-bottom: 50px;
    max-width: 1250px;
    margin: 0 auto;
}
.person {
    padding: 10px;
}
.name {
    font-weight: bold;
}
.personContainer {
    height: 100%;
    width: 300px;
    display: inline-block;
    margin: 0 auto 40px 0;
}
.headshot {
    height: 240px;
}
.aboutText:hover {
    opacity: 1;
    transition: 0.2s all;
}
.aboutText {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
    opacity: 0;
    transition: 0.2s all;
    overflow-y: scroll;
}

@media only screen and (min-width: 500px) {
    .mainRow .personContainer {
        width: 450px;
    }
    .mainRow .headshot {
        height:350px;
    }
    .imgContainer {
        height: 350px;
        width: 350px;
    }
}