.retrievingAppsText {
    text-align: center;
    margin-top: 30px;
}
.committeeApplicationContainer {
    width: 300px;
    margin: 20px;
    flex-grow: 1;
    text-align: justify;
}
.committeeAppsDisplayContainer {
    display: flex;
    flex-wrap: wrap;
}
.committeeAppSkillsContainer {
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
}