.eventSignupSelect {
    width: 100%;
}
.eventSignupSelectName {
    float: left;
}
.eventSignupSelectTime {
    float: right;
}
.eventSignupSelectPaidTag {
    float: right;
    margin-right: 10px;
}
.eventSignupMemberInfo {
    margin: 20px 0;
}
.eventSignupTableFooterDownloadButton {
    float: right;
}
.eventSignupsTableFooterText {
    margin-top: 4px;
    float: right;
}
.carAllocationListLine {
    margin: 2px auto;
}
.eventSignupTableContainer {
    position: relative;
    overflow: hidden;
}
.carDrawerText {
    margin-bottom: 15px;
}
.eventSignupTableContainerNarrow {
    width: 50%;
    float: left;
    position: relative;
}
.eventTableNameLink {
    cursor: pointer;
}
.noLinkA {
    color: rgba(0, 0, 0, 0.65);
}
.rightTableText {
    float: right;
} 
.eventSignupDetailsHeader {
    position: absolute;
    top: -40px;
    width: 100%;
}
.eventSignupDetailsCloseIcon {
    float: right;
}
.eventSignupViewTitle {
    float: left;
}