.eventSignupsSpinContainer {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.eventSignupsHeader {
    text-align: center;
    margin-top: 50px;
}
.eventSignupsMemberDisplaySection {
    width: 50%;
    float: left;
    padding: 20px;
}
.eventSignupMemberDisplayTitle {
    float: left;
}
.eventSignupMemberDisplayAddButton {
    float: left;
    margin: 0 20px;
}
.clearBoth {
    clear: both;
}
.eventSignupsAddMemberInput {
    max-width: 50%;
    /* margin-right: 10px; */
}

@media only screen and (max-width: 1180px) {
    .eventSignupsMemberDisplaySection {
        width: 100%;
    }
    .eventSignupsHeader {
        margin-top: 0;
    }
}