.eventSignupSelect {
    width: 100%;
}
.eventSignupSelectName {
    float: left;
}
.eventSignupSelectTime {
    float: right;
}
.eventSignupSelectPaidTag {
    float: right;
    margin-right: 10px;
}
.eventSignupMemberInfo {
    margin: 20px 0;
}
.eventSignupTableFooterDownloadButton {
    float: right;
}
.eventSignupsTableFooterText {
    margin-top: 4px;
    float: right;
}