.eventSignupsSpinContainer {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.eventSignupsHeaderContainer {
    margin-top: 30px;
}
.eventSignupsHeader {
    float: left;
}
.eventSignupsHeaderButtons {
    float: right;
}
.eventSignupsMemberDisplaySection {
    width: 100%;
    margin: 30px 0;
    /* float: left;
    padding: 20px; */
}
.eventSignupMemberDisplayTitle {
    float: left;
}
.eventSignupMemberDisplayAddButton {
    float: left;
    margin: 0 20px;
}
.eventSignupMemberDisplayTotalText {
    float: right;
    display: none;
}
.eventSignupsAddMemberContainer {
    max-width: 600px;
    margin-bottom: 15px;
}
.clearBoth {
    clear: both;
}
.eventSignupsAddMemberInput {
    width: 50%;
    max-width: 300px;
    /* margin-right: 10px; */
}

@media only screen and (max-width: 1180px) {
    .eventSignupsMemberDisplaySection {
        width: 100%;
    }
    .eventSignupsHeader {
        margin-top: 0;
    }
    .eventSignupsHeaderButtons {
        display: none;
    }
    .eventSignupMemberDisplayTotalText {
        display: initial;
    }
}