.joinFormContainer {
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
    padding: 0 30px;
}
.formHalfItem {
    display: inline-block;
    width: 50%;
    /* padding: 0 10px; */
}
.joinFormInput {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}
.joinFormInput:focus {
    outline: none;
    box-shadow: none;
}