.firstTimeLoginContainer {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 10px;
    text-align: left;
}
.firstTimeLoginHeader {
    text-align: center;
}
.clearBoth {
    clear: both;
}
.joinedMemberText {
    text-align: justify;
}
.joinedEmailError {
    margin: 10px 0;
    text-align: left;
}
.joinedLoginButton {
    text-align: left;
}
.firstTimeLoginSelect {
    width: 100%;
    margin-bottom: 15px;
}
.notOnListButton {
    float: right;
    padding-right: 0
}
.notOnListPopover {
    max-width: 300px;
    font-size: 12px;
}