.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.imageContainer {
    width: 155px;
    float: left;
}
.logoImg {
    width: 100%;
}
.topMenuContainer {
    width: calc(100% - 310px);
    float: left;
    text-align: center;
}
.socialsContainer {
    width: 155px;
    float: left;
}
.socialIconContainer {
    display: inline;
    font-size: 18px;
    cursor: pointer;
    color: maroon;
    line-height: 50px;
}
.socialIcon {
    margin-left: 11px;
}
.clearBoth {
    clear: both;
}
.headerNameSpan {
    max-width: 90px;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .imageContainer {
        display: none;
    }
    .topMenuContainer {
        float: left;
        width: 113px;
        padding-left: 10px;
    }
    .socialsContainer {
        width: calc(100% - 113px);
        float: right;
        text-align: right;
        padding-right: 10px;
    }
    .headerContainer {
        height: 60px;
    }
    .headerNameSpan {
        max-width: 160px;
    }

  }