.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  margin-bottom: 10px;
  font-family: 'Joyride', sans-serif;
  border-bottom: 1px solid #f0f0f0;
  font-weight: normal;
  height: 50px;
}

.logoImg {
  width: 120px;
  transition: ease-in-out 0.15s opacity;
}

.logoImg:hover {
  opacity: 0.8;
}
.socialsContainer {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 24px;
}
.socialIconContainer {
  display: flex;
  font-size: 18px;
  cursor: pointer;
  color: black;
  column-gap: 10px;
}
.clearBoth {
  clear: both;
}
.headerNameSpan {
  overflow-x: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
  cursor: pointer;
}

.loginButton {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #11388d;
  transition: ease-in-out 0.3s color, background-color 0.3s;
}

.loginButton:hover {
  background-color: rgba(17, 56, 141, 0.1);
  color: #11388d;
}

@media only screen and (max-width: 600px) {
  .imageContainer {
    display: none;
  }

  .socialsContainer {
    text-align: right;
    padding-right: 10px;
  }
  .headerContainer {
    height: 60px;
  }
  .headerNameSpan {
    max-width: 160px;
  }
}
