.loginContainer {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 10px;
}
.logo {
    max-width: 150px;
}
.loginButton {
    float:right;
}
.loginInput {
    margin-bottom: 10px;
}
.clearBoth {
    clear: both;
}