.userInfoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  column-gap: 10px;
}

@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  50% {
    transform: translate(-100%, 0);
  }
  50.001% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}
@keyframes marquee-reset {
  0% {
    transform: translate(0%, 0);
  }
}
