.marqueeContainer {
    max-width: 100px;
    display: inline-block;
    padding-right: 5px;
}
.topMenuDownOutlined {
    vertical-align: middle;
    font-size: 11px !important;
}

.marqueeWrapper {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;    
}

.marqueeText {
    display: flex;        
    flex-basis: 100%;
    animation: marquee 8s linear infinite;
    animation-play-state: running;
}
.noMarqueeScroll {
    animation: marquee-reset;
    animation-play-state: paused;
}

.marqueeWrapper:hover> span {
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
    }    
    50% {
        transform: translate(-100%, 0);
    }
    50.001% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@keyframes marquee-reset {
    0% {
        transform: translate(0%, 0);
    }  
}