.headerContainer {
    width: 100%;
}
.imageContainer {
    width: 155px;
    float: left;
}
img {
    width: 100%;
}
.topMenuContainer {
    width: calc(100% - 310px);
    float: left;
}
.socialsContainer {
    width: 155px;
    float: left;
}
.socialIcon {
    font-size: 18px;
    cursor: pointer;
    color: maroon;
    line-height: 50px;
    margin-left: 11px;
}
.clearBoth {
    clear: both;
}

@media only screen and (max-width: 500px) {
    .imageContainer {
        display: none;
    }
    .topMenuContainer {
        float: right;
        max-width: calc(100% - 155px);
    }
    .socialsContainer {
        float: right;
    }

  }