.addMemberLine {
    margin: 10px 0
}
.addMemberFieldInput {
    margin: 10px 0
}
.addMemberFieldTitle {
    /* font-weight: bold; */
}
.requiredDot {
    color: #EF9A9A;
    margin: 0 3px;
}
.addMemberSectionHeader {
    margin-top: 30px;
}
.addMemberFormContainer {
    max-height: 820px;
    overflow-y: auto;
}
.shortMemberLine {
    float: left;
    width: 50%;
    padding: 0 10px;
}