@import 'tailwindcss';

@font-face {
  font-family: 'Joyride';
  src: url(assets/fonts/JoyrideSTD.ttf) format('truetype');
}

@font-face {
  font-family: 'Lacuna';
  src: url(assets/fonts/Lacuna.otf) format('opentype');
}

#root {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Joyride', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-btn-link {
  color: black !important;
}

.ant-menu-item,
.ant-dropdown-menu-item {
  font-family: 'Joyride', sans-serif !important;
  border-bottom: none !important;
  padding: 0 10px !important;
}

.ant-menu-submenu-title {
  font-family: 'Joyride', sans-serif !important;
}

.ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-item-selected a {
  color: rgba(17, 56, 141, 1) !important;
  border-bottom: none !important;
  font-family: 'Joyride', sans-serif !important;
}

.ant-menu-item-active {
  background-color: rgba(17, 56, 141, 0.1) !important;
  color: rgba(17, 56, 141, 1) !important;
  border-bottom: none !important;
}

.ant-menu-item-active a {
  color: rgba(17, 56, 141, 1) !important;
}
