@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Joyride';
  src: url(assets/fonts/JoyrideSTD.ttf) format('truetype');
}

@font-face {
  font-family: 'Lacuna';
  src: url(assets/fonts/Lacuna.otf) format('opentype');
}

@theme {
  --font-joyride: 'Joyride', sans-serif;
  --font-lacuna: 'Lacuna', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --height-hero: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Joyride', sans-serif;
}

body {
  font-family: var(--font-inter);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
