.optionsContainer {
    text-align: left;
    max-width: 390px;
    margin: 0 auto;
}
.formContainer {
    max-width: 689px;
    margin: 0 auto 30px auto;
}
.trainingNotesContainer {
    white-space: pre-line;
    margin: 20px auto;
    max-width: 500px;
    text-align: left;
    padding: 0 20px;
}
.spotsLeftText {
    color: rgba(255, 0, 0, 0.7);
}
.signupsNotPaidContainer {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}