.spotsLeft {
  color: rgba(255, 0, 0, 0.7);
}
.signupFormNotes {
  white-space: pre-line;
}
.sessionOption {
  font-weight: bold;
  width: 100%;
}
.signedUpOptionText {
  color: #4bdd42;
}
.messageContainer {
  max-width: 300px;
  margin: 5px auto;
}
.check {
  color: green;
}
.feedbackInputContainer {
  text-align: left;
  max-width: 400px;
  margin: 30px auto;
}
.topFeedbackInputContainer {
  margin-bottom: 0;
}
.orTextForNonMembersSignupForm {
  margin-bottom: 20px;
}
.aboveSubmitSignupFormText {
  font-size: 10px;
  text-align: left;
  margin-bottom: 10px;
}
.signupFormInfoTextContainer {
  text-align: justify;
}
.spotsLeftTag {
  float: right;
  /* TODO: align checkboxes properly without negative margin */
  margin-right: -8px;
}
.trainingSignupRadioGroup {
  width: 100%;
}
.signupFormRemove {
  display: block;
  margin-top: 20px;
}
.optionLine {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}
.signupFormRemoveLoadingIcon {
  margin-right: 5px;
}
.signedUpOptionCheck {
  margin-left: 10px;
  font-size: 150%;
  vertical-align: middle;
}
.interSemCollatedSelect {
  width: 100%;
}

.signupFormButton {
  font-family: 'Joyride', sans-serif;
}
