.spotsLeft {
    color: rgba(255, 0, 0, 0.7);
}
.signupFormNotes {
    white-space: pre-line;
}
.sessionOption {
    font-weight: bold;
    width: 100%;
}
.signedUpOptionText {
    color: #4bdd42;
}
.messageContainer {
    max-width: 300px;
    margin: 5px auto;
}
.check {
    color: green;
}
.feedbackInputContainer {
    text-align: left;
    max-width: 400px;
    margin: 30px auto;
}
.topFeedbackInputContainer {
    margin-bottom: 0;
}
.orTextForNonMembersSignupForm {
    margin-bottom: 20px;
}
.spotsLeftTag {
    float: right;
    margin-right: 0;
}
.trainingSignupRadioGroup {
    width: 100%;
}
.signupFormRemove {
    display: block;
    margin-top: 20px;
}
.optionLine {
    margin: 25px 0;
}
.signupFormRemoveLoadingIcon {
    margin-right: 5px;
}
.signedUpOptionCheck {
    margin-left: 10px;
}
.interSemCollatedSelect {
    width: 100%;
}